@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(247, 247, 247);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: #242424;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(45, 18, 0, 0.5);
    transition: background-color 1s;
    z-index: 5;
}

nav ul {
    list-style: none;
    float: centre;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 32px;
    font-size: 20px;
    position: relative;
}

nav li a:hover::after {
    width: 100%;
    transition: width 0.5s ease-out;
}

nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(3px);
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(56 189 248);
    transition: 0.5s ease-in;
}

.nav svg line {
    transition: all 0.3s ease;
}

.test-container-joe {
    background-color: #1a1a1a;
    display: flex;
    position: inherit;
    cursor: pointer;
    color: #1a1a1a;
}

.home-imgs {
    @apply flex gap-4
}

.home-imgs .img-wrap {
    @apply relative
}

.home-imgs img {
    @apply rounded-md w-full h-full max-w-96
}

.home-imgs span {
    @apply bg-sky-400 rounded-md font-medium text-white text-lg px-3 absolute right-0 bottom-0 -translate-y-1/2 -translate-x-1/4
}